# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [45]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [46]:
!pip install gmaps

Requirement already satisfied: gmaps in c:\users\checo\anaconda3\lib\site-packages (0.8.0)
Requirement already satisfied: ipython>=5.3.0 in c:\users\checo\anaconda3\lib\site-packages (from gmaps) (7.29.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\checo\anaconda3\lib\site-packages (from gmaps) (7.6.5)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\checo\anaconda3\lib\site-packages (from gmaps) (5.1.0)
Requirement already satisfied: geojson>=2.0.0 in c:\users\checo\anaconda3\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: six in c:\users\checo\anaconda3\lib\site-packages (from gmaps) (1.16.0)
Requirement already satisfied: pygments in c:\users\checo\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (2.10.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\checo\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\checo\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (58.0.4)
Requirement already satisfied: pickleshare in c:\users\checo\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: colorama in c:\users\checo\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.4)
Requirement already satisfied: backcall in c:\users\checo\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\checo\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.18.0)
Requirement already satisfied: matplotlib-inline in c:\users\checo\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.1.2)
Requirement already satisfied: decorator in c:\users\checo\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (5.1.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\checo\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (0.2.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\checo\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\checo\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\checo\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (6.4.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\checo\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (1.0.0)
Requirement already satisfied: tornado<7.0,>=4.2 in c:\users\checo\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in c:\users\checo\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (1.4.1)
Requirement already satisfied: jupyter-client<8.0 in c:\users\checo\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.12)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\checo\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->gmaps) (0.8.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\checo\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.2)
Requirement already satisfied: jupyter-core>=4.6.0 in c:\users\checo\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (4.8.1)
Requirement already satisfied: pyzmq>=13 in c:\users\checo\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (22.2.1)
Requirement already satisfied: pywin32>=1.0 in c:\users\checo\anaconda3\lib\site-packages (from jupyter-core>=4.6.0->jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (228)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\checo\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\checo\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (21.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\checo\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.18.0)
Requirement already satisfied: wcwidth in c:\users\checo\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\checo\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.4.5)
Requirement already satisfied: argon2-cffi in c:\users\checo\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.1.0)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\checo\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.8.0)
Requirement already satisfied: nbconvert in c:\users\checo\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.1.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\checo\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.9.4)
Requirement already satisfied: prometheus-client in c:\users\checo\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.11.0)
Requirement already satisfied: jinja2 in c:\users\checo\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.3)
Requirement already satisfied: pywinpty>=0.5 in c:\users\checo\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.7)
Requirement already satisfied: cffi>=1.0.0 in c:\users\checo\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.14.6)
Requirement already satisfied: pycparser in c:\users\checo\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.20)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\checo\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\checo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.3)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\checo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\checo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.3)
Requirement already satisfied: bleach in c:\users\checo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (4.0.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\checo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: defusedxml in c:\users\checo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: testpath in c:\users\checo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\checo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: nest-asyncio in c:\users\checo\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.1)
Requirement already satisfied: async-generator in c:\users\checo\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.10)
Requirement already satisfied: packaging in c:\users\checo\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (21.0)
Requirement already satisfied: webencodings in c:\users\checo\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\checo\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.0.4)

In [47]:
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [48]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import matplotlib.pyplot as plt

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [49]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(os.path.join("..", "Weather_Database", "WeatherPy_database.csv"))

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Srandakan,ID,-7.9386,110.2506,82.26,75,100,1.81,overcast clouds
1,1,Saldanha,ZA,-33.0117,17.9442,59.05,87,7,8.01,clear sky
2,2,Saskylakh,RU,71.9167,114.0833,-18.81,95,92,6.04,overcast clouds
3,3,Victoria,HK,22.2855,114.1577,78.85,79,100,8.99,overcast clouds
4,4,Balagon,PH,8.0063,123.2396,81.03,69,100,2.98,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [50]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimun temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximun temperature you would like for your trip? "))

What is the minimun temperature you would like for your trip? 65
What is the maximun temperature you would like for your trip? 85

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [51]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]

# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Srandakan,ID,-7.9386,110.2506,82.26,75,100,1.81,overcast clouds
3,3,Victoria,HK,22.2855,114.1577,78.85,79,100,8.99,overcast clouds
4,4,Balagon,PH,8.0063,123.2396,81.03,69,100,2.98,overcast clouds
5,5,San Luis,AR,-33.2950,-66.3356,65.89,36,0,9.33,clear sky
8,8,Mataura,NZ,-46.1927,168.8643,73.17,39,98,3.98,overcast clouds
9,9,Vila Franca Do Campo,PT,37.7167,-25.4333,65.19,92,56,4.34,broken clouds
12,12,Saint-Philippe,RE,-21.3585,55.7679,69.39,68,39,12.68,scattered clouds
18,18,Kapaa,US,22.0752,-159.3190,82.38,72,40,14.97,scattered clouds
19,19,Oranjestad,AW,12.5240,-70.0270,82.35,87,20,11.50,few clouds
20,20,Atuona,PF,-9.8000,-139.0333,77.74,76,4,14.90,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [52]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data

clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Srandakan,ID,-7.9386,110.2506,82.26,75,100,1.81,overcast clouds
3,3,Victoria,HK,22.2855,114.1577,78.85,79,100,8.99,overcast clouds
4,4,Balagon,PH,8.0063,123.2396,81.03,69,100,2.98,overcast clouds
5,5,San Luis,AR,-33.2950,-66.3356,65.89,36,0,9.33,clear sky
8,8,Mataura,NZ,-46.1927,168.8643,73.17,39,98,3.98,overcast clouds

In [53]:
clean_travel_cities.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [54]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]]

# Display sample data
hotel_df

          City Country  Max Temp Current Description      Lat       Lng
0    Srandakan      ID     82.26     overcast clouds  -7.9386  110.2506
3     Victoria      HK     78.85     overcast clouds  22.2855  114.1577
4      Balagon      PH     81.03     overcast clouds   8.0063  123.2396
5     San Luis      AR     65.89           clear sky -33.2950  -66.3356
8      Mataura      NZ     73.17     overcast clouds -46.1927  168.8643
..         ...     ...       ...                 ...      ...       ...
692   Acajutla      SV     79.16       broken clouds  13.5928  -89.8275
697       Axim      GH     76.93          light rain   4.8699   -2.2405
699      Birao      CF     67.26       broken clouds  10.2849   22.7882
701  Iranshahr      IR     67.69           clear sky  27.2025   60.6848
703     Mbaiki      CF     70.70          few clouds   3.8678   17.9892

[290 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [55]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = " "

# Display sample data
hotel_df.head(10)

C:\Users\checo\AppData\Local\Temp/ipykernel_16604/19374355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = " "

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Srandakan,ID,82.26,overcast clouds,-7.9386,110.2506,
3,Victoria,HK,78.85,overcast clouds,22.2855,114.1577,
4,Balagon,PH,81.03,overcast clouds,8.0063,123.2396,
5,San Luis,AR,65.89,clear sky,-33.2950,-66.3356,
8,Mataura,NZ,73.17,overcast clouds,-46.1927,168.8643,
9,Vila Franca Do Campo,PT,65.19,broken clouds,37.7167,-25.4333,
12,Saint-Philippe,RE,69.39,scattered clouds,-21.3585,55.7679,
18,Kapaa,US,82.38,scattered clouds,22.0752,-159.3190,
19,Oranjestad,AW,82.35,few clouds,12.5240,-70.0270,
20,Atuona,PF,77.74,clear sky,-9.8000,-139.0333,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [56]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [57]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng =row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

C:\Users\checo\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [58]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Srandakan,ID,82.26,overcast clouds,-7.9386,110.2506,Puri Brata
3,Victoria,HK,78.85,overcast clouds,22.2855,114.1577,Mini Central
4,Balagon,PH,81.03,overcast clouds,8.0063,123.2396,Casa maria molave
5,San Luis,AR,65.89,clear sky,-33.2950,-66.3356,Huarpes Hotel
8,Mataura,NZ,73.17,overcast clouds,-46.1927,168.8643,Ellie's Villa
...,...,...,...,...,...,...,...
692,Acajutla,SV,79.16,broken clouds,13.5928,-89.8275,CASA DE LA PERRA
697,Axim,GH,76.93,light rain,4.8699,-2.2405,Axim Beach Resort And Spa
699,Birao,CF,67.26,broken clouds,10.2849,22.7882,
701,Iranshahr,IR,67.69,clear sky,27.2025,60.6848,Ù†ÛŒÚ© Ø³Ø±Ø´Øª
703,Mbaiki,CF,70.70,few clouds,3.8678,17.9892,Motel MBM

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [59]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Srandakan,ID,82.26,overcast clouds,-7.9386,110.2506,Puri Brata
3,Victoria,HK,78.85,overcast clouds,22.2855,114.1577,Mini Central
4,Balagon,PH,81.03,overcast clouds,8.0063,123.2396,Casa maria molave
5,San Luis,AR,65.89,clear sky,-33.2950,-66.3356,Huarpes Hotel
8,Mataura,NZ,73.17,overcast clouds,-46.1927,168.8643,Ellie's Villa
...,...,...,...,...,...,...,...
692,Acajutla,SV,79.16,broken clouds,13.5928,-89.8275,CASA DE LA PERRA
697,Axim,GH,76.93,light rain,4.8699,-2.2405,Axim Beach Resort And Spa
699,Birao,CF,67.26,broken clouds,10.2849,22.7882,
701,Iranshahr,IR,67.69,clear sky,27.2025,60.6848,Ù†ÛŒÚ© Ø³Ø±Ø´Øª
703,Mbaiki,CF,70.70,few clouds,3.8678,17.9892,Motel MBM

In [60]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [61]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [62]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""
print(info_box_template)

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [63]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Puri Brata</dd>\n<dt>City</dt><dd>Srandakan</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.26 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mini Central</dd>\n<dt>City</dt><dd>Victoria</dd>\n<dt>Country</dt><dd>HK</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.85 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa maria molave</dd>\n<dt>City</dt><dd>Balagon</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.03 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Huarpes Hotel</dd>\n<dt>City</dt><dd>San Luis</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>clear sky and 65.89 Â°F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.17 Â°F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pestana Bahia Praia</dd>\n<dt>City</dt><dd>Vila Franca Do Campo</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>broken clouds and 65.19 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four Ã  pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 69.39 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 82.38 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Divi Village Golf & Beach Resort</dd>\n<dt>City</dt><dd>Oranjestad</dd>\n<dt>Country</dt><dd>AW</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.35 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.74 Â°F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [64]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   -7.9386  110.2506
3   22.2855  114.1577
4    8.0063  123.2396
5  -33.2950  -66.3356
8  -46.1927  168.8643
9   37.7167  -25.4333
12 -21.3585   55.7679
18  22.0752 -159.3190
19  12.5240  -70.0270
20  -9.8000 -139.0333

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [20]:
# 11a. Add a marker layer for each city to the map. 
description=hotel_df["Current Description"]
fig= gmaps.figure(center=(30,31), zoom_level=1.5)
heat_layer= gmaps.heatmap_layer(locations, dissipating= False,
                               max_intensity=300, point_radius=4)
marker_layer= gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

# fig.savefig("../Vacation_Search/Resources/WeatherPy_vacation_map.png")

Figure(layout=FigureLayout(height='420px'))

In [66]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig
# Save map
# plt.savefig("../Vacation_Search/Resources/WeatherPy_vacation_map.png")